.plax-wrapper
  %img{"data-xrange" => "20", "data-yrange" => "20", src: "images/field.jpg", width: '100%'}
  %img{"data-invert" => "true", "data-xrange" => "10", "data-yrange" => "10", src: "images/ball.png", width: 200, class: 'ball'}
