= partial 'partials/football_parallax'

- if session['current_user']
  You are logged in! as #{session['current_user'].first_name}
  %a{href: '/logout'}
    Logout

-else
  %a{href: '/login'}
    Login
