!!! 5
%html
  %head
    %link{href: '/vendor/bootstrap/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: '/stylesheets/style.css', rel: 'stylesheet'}
    %title Foinz
  %body
    %div.container#main-container
      = partial 'partials/header'
      = yield

    %script{src: '/vendor/jquery-1.9.1.min.js'}
    %script{src: '/vendor/bootstrap/js/bootstrap.min.js'}
<<<<<<< HEAD
    %script{src: '/javascripts/plax.js'}
    %script{src: '/javascripts/main.js'}
=======
    %script{src: '/javascripts/main.js'}
>>>>>>> 311c7d93b3178ac03697890e4ea669e018688b63
