$dark-grey: #333;
$light-grey: #444;
$lime-green: #BFFA37;

body{

  background-color: $light-grey;
  color: $lime-green;
}
.main-container{
  margin: 20px;
}
.navbar-default{
  margin-top: 10px;
  background-color: $dark-grey;
  border-color: $lime-green;
  a{
    color: $lime-green !important;
  }
  li.active{
    a{
      background-color: $lime-green !important;
      color: $dark-grey !important;
    }
  }
}
#main-container{
  width: 80%;
  background-color: $dark-grey;
}
a:hover{
  text-shadow: $lime-green 1px 1px 7px;
}
.ball{
  position: absolute;
  right: 10px;
}
.plax-wrapper{
  overflow: hidden;
}